/*  
³ ´ asterisks
° ª little arrows
« ¬ little hearts
® ¯ big hearts
² ± litle cursors
¶ µ big cursors
*/












#title-actions {
  position: absolute;
  width: 552px;
  left: 47px;
  top: 280px; 
}

#menu-actions {
  position: absolute;
  width: 200px;
  left: 313px;
  top: 60px;
}

#menu-actions ul {
  text-align: center;
}

#game-actions ul 

#menu-actions ul li {
  float: left;
  text-align: center;
  height: 40px;
}

#title-actions ul li {
  float: left;
  text-align: center;
  height: 40px;
}

#title-actions ul li span {
  font-size: 32px;
}

#holder {
  text-align: center;
}



.actions li span {
  font-family: 'expanded';
  position: relative; 
  text-decoration: none;
  text-transform: uppercase;
}






/* 14 -1
   28  2
   42 -3
   56  3
   70 -3
   84  2
   98 -1
   
*/


/* 
return of ganon - too big 
pixerif - a little ornate but nice size (nah too big)
rainyhearts - way too girly
alagard - good for accents? too big and too ornate
apple - good size but too wide (maybe too big actually)
babyblue - way too big :(
coderscrux - no
graphicpixel - PERFECT size (20)
dos - good if graphicpixel turns out to be too big (16)
LEXIPA - not sure what size this is supposed to be but works well at decent szes (also pretty)
nano - a biiiit big @ 20 but looks good

*/
